<div class="sidebar-menu">
    <header class="logo1">
        <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
    </header>
    <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
    <div class="menu">
        <ul id="menu">
            <li><a href="index.html"><i class="fa fa-home"></i> <span>Ana Sayfa</span></a></li>
            <li id="menu-academico">
                <ul id="menu-academico-sub">
                    <li id="menu-academico-avaliacoes"><a href="shoes.html">Kategoriler</a></li>
                    <li id="menu-academico-avaliacoes"><a href="products.html">Müşteriler</a></li>
                    <li id="menu-academico-boletim"><a href="sunglasses.html">Personeller</a></li>
                </ul>
            </li>
            <li id="menu-academico"><a href="sunglasses.html"><i class="fa fa-road"></i> <span>Rotalar</span></a></li>
            <li><a href="sweater.html"><i class="fa fa-pencil"></i> <span>Şehirler</span></a></li>
            <li><a href="bags.html"><i class="fa fa-paperclip"></i> <span>Ülkeler</span></a></li>
            <li><a href="bags.html"><i class="fa fa-paperclip"></i> <span>Grafikler</span></a></li>
            <li><a href="bags.html"><i class="fa fa-paperclip"></i> <span>Raporlar</span></a></li>
            <li><a href="products.html"><i class="fa fa-paperclip"></i> <span>Roller</span></a></li>
            <li><a href="products.html"><i class="lnr lnr-chart-bars"></i> <span>Ayarlar</span></a></li>
            <li><a href="products.html"><i class="lnr lnr-envelope"></i> <span>Çıkış Yap</span></a></li>


        </ul>
    </div>
</div>