
@{
    ViewBag.Title = "DeleteCity";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Şehir Silme</h2>

<br />
<form>
    <label>Şehir Ad</label>
    <input type="text" class="form-control" name="CityId" />
    <br />
    <button class="btn btn-primary">Şehri Kaydet</button>

</form>