@model Logistic.UILayer.Models.TBL_CITY
@{
    ViewBag.Title = "UpdateCity";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <label>Şehir ID</label>
    <input type="text" name="CityID" class="form-control" value="@Model.CityID" />
    <br />
    <label>Şehir Ad</label>
    <input type="text" name="CityName" class="form-control"  value="@Model.CityName" />
    <br />
    <button class="btn btn-primary">Güncelle</button>
</form>
